
<!DOCTYPE html>
<html lang="en">
<head>
  <title>3la Allah</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/templates/styles.css">

</head>
<body>

<center>
  <div class="container">
    <h2>3ala Allah Team</h2>
    <h4>To upload a .hex file to your STM32 MCU browse for afile and press upload</h4>
    <div class="row">
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="my-form">
            <input type="file" name="file">
            <button class="btn btn-success" type="submit">send</button>
        </div>
    </form>
    </div>
    
  </div>
</center>
  


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
